<?xml version="1.0"?>
<!--
/**
 * Copyright © MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.magepal.com | support@magepal.com
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepal" translate="label" sortOrder="400">
            <label>MagePal</label>
        </tab>
        <section id="customeraccountlinksmanager" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Account Links Manager</label>
            <tab>magepal</tab>
            <resource>MagePal_CustomerAccountLinksManager::customeraccountlinksmanager</resource>
            <group id="about" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <label>About Account Links Manager</label>
                <attribute type="expanded">1</attribute>
                <comment>
                    <![CDATA[
                    <div id="magepal-info">
                        Copyright © 2020 <a href="https://www.magepal.com/magento2/extensions.html?utm_source=dashboard-links-manager&utm_medium=admin" target="_blank">MagePal, LLC</a>
                        <a href="https://www.magepal.com/help/docs/magento2-dashboard-links-manager/?utm_source=dashboard-links-manager&utm_medium=admin#documentation" target="_blank">Documentation</a>
                        <a href="https://www.magepal.com/help/docs/magento2-dashboard-links-manager/?utm_source=dashboard-links-manager&utm_medium=admin#support">Support</a>
                        <a href="https://www.magepal.com/help/docs/magento2-dashboard-links-manager?utm_source=dashboard-links-manager&utm_medium=admin#current_version" target="_blank">Latest Version</a>
                        <a href="https://www.magepal.com/customer-dashboard-links-manager-for-magento-2.html?utm_source=dashboard-links-manager&utm_medium=admin" target="_blank">Extension Detail</a>
                        <a href="https://www.magepal.com/magento2/extensions.html?utm_source=dashboard-links-manager&utm_medium=admin" target="_blank">More Extensions</a>
                    </div>
                    <div>
                    Design beautiful order confirmation page with our new <a href="https://www.magepal.com/enhanced-success-page.html">Enhanced Success Page</a> extension.
                    </div>
                    <hr style="border-top: 1px solid #e3e3e3" />
                    <style>
                        #magepal-info a {
                            font-weight: bold;
                            border-left: 2px solid #e3e3e3;
                            padding-left:10px;
                            padding-right:10px;
                            color: #ef7e1e;
                        }

                        #magepal-info a:first-child {
                            padding-left: 5px;
                            border-left: none;
                        }

                        #magepal-info {
                            padding-bottom: 5px;
                        }
                        .section-config.active #customeraccountlinksmanager_about-head {
                            padding-bottom: 0px;
                        }
                     </style>]]>
                </comment>
                <field id="module_version" translate="label" type="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Version</label>
                    <frontend_model>MagePal\CustomerAccountLinksManager\Block\Adminhtml\System\Config\Form\Module\Version</frontend_model>
                </field>
                <field id="composer_version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Composer Version</label>
                    <frontend_model>MagePal\CustomerAccountLinksManager\Block\Adminhtml\System\Config\Form\Composer\Version</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Account Links Manager Setting</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="action" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Action</label>
                    <source_model>MagePal\CustomerAccountLinksManager\Model\Config\Source\Action</source_model>
                </field>

                <field id="sections" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dashboard Section</label>
                    <source_model>MagePal\CustomerAccountLinksManager\Model\Config\Source\Sections</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
